<div class="row">
    @if (ViewBag.categories != null)
    {
        <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mb-2 text-dark font-weight-normal">Kategoriler</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">@ViewBag.contacts</h2>
                    <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-file-tree icon-md absolute-center text-dark"></i></div>
                    <p class="mt-4 mb-0">Kategori işlemleri için</p>
                    <h3 class="mb-0 font-weight-bold mt-2 text-dark"><a href="/Category/Index/">tıklayın</a></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mb-2 text-dark font-weight-normal">Hizmetler</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">@ViewBag.services</h2>
                    <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-apps icon-md absolute-center text-dark"></i></div>
                    <p class="mt-4 mb-0">Hizmet işlemleri için</p>
                    <h3 class="mb-0 font-weight-bold mt-2 text-dark"><a href="/Service/Index/">tıklayın</a></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mb-2 text-dark font-weight-normal">Görseller</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">@ViewBag.galleries</h2>
                    <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-folder-multiple-image icon-md absolute-center text-dark"></i></div>
                    <p class="mt-4 mb-0">Galeri işlemleri için</p>
                    <h3 class="mb-0 font-weight-bold mt-2 text-dark"><a href="/Gallery/Index/">tıklayın</a></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mb-2 text-dark font-weight-normal">Mesajlar</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">@ViewBag.contacts</h2>
                    <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-email-variant icon-md absolute-center text-dark"></i></div>
                    <p class="mt-4 mb-0">Mesaj işlemleri için</p>
                    <h3 class="mb-0 font-weight-bold mt-2 text-dark"><a href="/Contact/Index/">tıklayın</a></h3>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.teams != null)
    {
        <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mb-2 text-dark font-weight-normal">Eğitmen Sayısı</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">@ViewBag.teams</h2>
                    <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-account-multiple icon-md absolute-center text-dark"></i></div>
                    <p class="mt-4 mb-0">Ekip işlemleri için</p>
                    <h3 class="mb-0 font-weight-bold mt-2 text-dark"><a href="/Team/Index/">tıklayın</a></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mb-2 text-dark font-weight-normal">Boks Antrenörü</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">@ViewBag.boxingCoachCount</h2>
                    <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-boxing-glove icon-md absolute-center text-dark"></i></div>
                    <p class="mt-4 mb-0">@ViewBag.boxingCoach</p>
                    <h3 class="mb-0 font-weight-bold mt-2 text-dark"><a href="/Team/Home/">Profili Gör</a></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mb-2 text-dark font-weight-normal">Fitness Eğitmeni</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">@ViewBag.fitnessTrainerCount</h2>
                    <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-dumbbell icon-md absolute-center text-dark"></i></div>
                    <p class="mt-4 mb-0">@ViewBag.fitnessTrainer</p>
                    <h3 class="mb-0 font-weight-bold mt-2 text-dark"><a href="/Team/Home/">Profili Gör</a></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="mb-2 text-dark font-weight-normal">Pilates Eğitmeni</h5>
                    <h2 class="mb-4 text-dark font-weight-bold">@ViewBag.pilatesTrainerCount</h2>
                    <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-walk icon-md absolute-center text-dark"></i></div>
                    <p class="mt-4 mb-0">@ViewBag.pilatesTrainer</p>
                    <h3 class="mb-0 font-weight-bold mt-2 text-dark"><a href="/Team/Home/">Profili Gör</a></h3>
                </div>
            </div>
        </div>
    }
</div>
