@using EntityLayer.Concretes
@model List<Address>

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>@item.Neighbourhood, @item.Avenue, @item.District, @item.City @item.PostalCode</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>@item.PhoneNumber</li>
                            <li>@item.PhoneNumber1</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>@item.Email</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->
