<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="canvas-search search-switch">
        <i class="fa fa-search"></i>
    </div>
    <nav class="canvas-menu mobile-menu">
        <ul>
            <li class="active"><a href="/Default/Index/">ANA SAYFA</a></li>
            <li><a href="/About/Home/">HAKKIMIZDA</a></li>
            <li><a href="/Category/Home/">KATEGORİLER</a></li>
            <li><a href="/Service/Home/">HİZMETLER</a></li>
            <li><a href="/Team/Home/">EKİBİMİZ</a></li>
            <li><a href="/Gallery/Home/">GALERİ</a></li>
            <li><a href="/Contact/Home/">İLETİŞİM</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="canvas-social">
        @await Component.InvokeAsync("SocialMediaPartial")
    </div>
</div>
<!-- Offcanvas Menu Section End -->
<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="/Default/Index/">
                        <img src="~/GymLife/img/fiton-logo.svg" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu">
                    <ul>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Default" ? "active" : "")"><a href="/Default/Index/">ANA SAYFA</a></li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "About" ? "active" : "")"><a href="/About/Home/">HAKKIMIZDA</a></li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Category" ? "active" : "")"><a href="/Category/Home/">KATEGORİLER</a></li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Service" ? "active" : "")"><a href="/Service/Home/">HİZMETLER</a></li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Team" ? "active" : "")"><a href="/Team/Home/">EKİBİMİZ</a></li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Gallery" ? "active" : "")"><a href="/Gallery/Home/">GALERİ</a></li>
                        @*<li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Gallery" ? "active" : "")"><a href="https://www.linkedin.com/in/yasinramazangok/" target="_blank">BLOG</a></li>*@
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Contact" ? "active" : "")"><a href="/Contact/Home/">İLETİŞİM</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="top-option">
                    <div class="to-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="to-social">
                        @await Component.InvokeAsync("SocialMediaPartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->